.container {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    height: 100%;

    font-size: 12px;
    padding: 40px;
}

.success {
    color: green;
}

.hidden {
    display: none;
}
